/*HEADER MENUS*/



/*MAIN*/


/*FOOTER*/
footer{
    background-color: #353535;
    color: #fff;
    padding: 15px 0 30px 20px;
    font-size: 0.9rem;
}

h1{
    font-size: 1rem;
}

footer i{
    font-size: 0.7rem;
    width: 15px;
}

footer a{
    color: #fff;
}