.cards-set_hearts{
    position: relative;

    &--empty:hover{
        background: linear-gradient(to top, #9356dc, #b35cdc, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;    

        & + .cards-set_hearts--plain{
            animation: heart .5s forwards;
            cursor: pointer;
        }
    }
    
    &--plain{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
        background: linear-gradient(to top, #9356dc, #b35cdc, #ff79da);
        background-clip:text;
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
    }
}